<nav class="navbar">
  <div class="logo">
    <a routerLink="/" class="logo-link">
      <img 
        [src]="isLightTheme ? '/kcorange.png' : '/kclogo.png'" 
        alt="Khristian Pradilla Logo" 
        class="nav-logo">
    </a>
  </div>

  <input type="checkbox" id="menu-toggle" class="menu-toggle">

  <label for="menu-toggle" class="burger-label">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
    <li><a routerLink="/resume" routerLinkActive="active">Resume</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>